# **Taller de Python**
## Profesor: Juan S. Moreno P. y Julián Chitiva

# Clase 9: Pandas III y visualización

In [3]:
import pandas as pd
import numpy as np
pd.set_option('max_columns', None)

## Importación y exportación de datos

1. Cargue los datos de *info_accidentes.csv*. Realice una exploración básica de los datos.

In [4]:
accidentes= pd.read_csv('info_accidentes.csv')
print(accidentes.shape)
accidentes.head()

(34931, 25)

,Fecha,GravedadNombre,ClaseNombre,ChoqueNombre,ObjetoFijoCodigo,ObjetoFijoNombre,OtraClase,NombreOtraClase,Latitud,Longitud,Direccion,TipoVia1,NumeroVia1,LetraVia1,CardinalVia1,TipoVia2,NumeroVia2,LetraVia2,CardinalVia2,Localidad,HoraOcurrencia,TipoDiseño,TipoTiempo,TotalMuertos,TotalHeridos
0,01/13/2016 12:00:00 AM,Con Heridos,Choque,Vehiculo,,,,,0.0,0.0,KR 101-CL 83 02,KR,101,,,CL,83.0,,,ENGATIVA,12/31/1899 10:30:00 PM,Interseccion,Normal,0,2
1,01-12-16 0:00,Con Heridos,Atropello,,,,,,0.0,0.0,CL 147-KR 7 02,CL,147,,,KR,7.0,,,USAQUEN,12/31/1899 03:40:00 PM,Interseccion,Normal,0,1
2,01/13/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,CL 19-KR 5 SE 02,CL,19,,S,KR,5.0,,E,SAN CRISTOBAL,12/31/1899 07:20:00 AM,Tramo de Via,Normal,0,0
3,01/17/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,AC 80-KR 107 02,AC,80,,,KR,107.0,,,ENGATIVA,12/31/1899 06:10:00 AM,Tramo de Via,Normal,0,0
4,01/18/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,TR 14-CL 48 S 05,TR,14,,,CL,48.0,,S,RAFAEL URIBE URIBE,12/31/1899 05:00:00 PM,Tramo de Via,Normal,0,0

4. Cambie Fecha a formato datetime

In [5]:
accidentes['Fecha'] = pd.to_datetime(accidentes.Fecha)
accidentes.Fecha

0       2016-01-13
1       2016-01-12
2       2016-01-13
3       2016-01-17
4       2016-01-18
           ...
34926   2016-12-30
34927   2016-12-30
34928   2016-12-30
34929   2016-12-31
34930   2016-12-29
Name: Fecha, Length: 34931, dtype: datetime64[ns]

In [9]:
accidentes.Fecha.dt.strftime('%A %d de %B del %Y')

0        Wednesday
1          Tuesday
2        Wednesday
3           Sunday
4           Monday
           ...
34926       Friday
34927       Friday
34928       Friday
34929     Saturday
34930     Thursday
Name: Fecha, Length: 34931, dtype: object

5. Construya las variables mes y dia con base en el dia y mes de la fecha. 
Explore el locale español (Unix (mac/linux): es_ES.UTF-8, Windows: spanish_SPAIN.1252)

In [16]:
accidentes['mes'] = accidentes.Fecha.dt.month_name(locale = 'es_ES.UTF-8')
accidentes['dia'] = accidentes.Fecha.dt.day_name(locale = 'es_ES.UTF-8')
accidentes.head()

,Fecha,GravedadNombre,ClaseNombre,ChoqueNombre,ObjetoFijoCodigo,ObjetoFijoNombre,OtraClase,NombreOtraClase,Latitud,Longitud,Direccion,TipoVia1,NumeroVia1,LetraVia1,CardinalVia1,TipoVia2,NumeroVia2,LetraVia2,CardinalVia2,Localidad,HoraOcurrencia,TipoDiseño,TipoTiempo,TotalMuertos,TotalHeridos,mes,dia
0,2016-01-13,Con Heridos,Choque,Vehiculo,,,,,0.0,0.0,KR 101-CL 83 02,KR,101,,,CL,83.0,,,ENGATIVA,12/31/1899 10:30:00 PM,Interseccion,Normal,0,2,Enero,Miércoles
1,2016-01-12,Con Heridos,Atropello,,,,,,0.0,0.0,CL 147-KR 7 02,CL,147,,,KR,7.0,,,USAQUEN,12/31/1899 03:40:00 PM,Interseccion,Normal,0,1,Enero,Martes
2,2016-01-13,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,CL 19-KR 5 SE 02,CL,19,,S,KR,5.0,,E,SAN CRISTOBAL,12/31/1899 07:20:00 AM,Tramo de Via,Normal,0,0,Enero,Miércoles
3,2016-01-17,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,AC 80-KR 107 02,AC,80,,,KR,107.0,,,ENGATIVA,12/31/1899 06:10:00 AM,Tramo de Via,Normal,0,0,Enero,Domingo
4,2016-01-18,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,TR 14-CL 48 S 05,TR,14,,,CL,48.0,,S,RAFAEL URIBE URIBE,12/31/1899 05:00:00 PM,Tramo de Via,Normal,0,0,Enero,Lunes

In [19]:
accidentes.groupby('dia').size()

dia
Domingo      3380
Jueves       5152
Lunes        4878
Martes       5438
Miércoles    5233
Sábado       5267
Viernes      5583
dtype: int64

6. Convierta las variables en categóricas para que pueda ordenarlas como desee.

In [20]:
accidentes['dia'] = pd.Categorical(accidentes.dia,
                                   ['Lunes', 'Martes','Miércoles','Jueves','Viernes', 'Sábado','Domingo'])

In [22]:
accidentes['mes'] = pd.Categorical(accidentes.mes,
                                   ['Enero', 'Febrero','Marzo','Abril',
                                    'Mayo', 'Junio','Julio','Agosto',
                                    'Septiembre', 'Octubre','Noviembre','Diciembre'])

In [21]:
accidentes.groupby('dia').size()

dia
Lunes        4878
Martes       5438
Miércoles    5233
Jueves       5152
Viernes      5583
Sábado       5267
Domingo      3380
dtype: int64

7. ¿Cuántos accidentes hubo por mes? ¿Cuántos muertos y heridos? Para agrupar se utiliza el comando [groupby](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html).

In [30]:
accidentes.groupby('mes').size().sort_values(ascending=False)

mes
Noviembre     3316
Octubre       3274
Septiembre    3136
Mayo          3130
Agosto        3062
Abril         2951
Diciembre     2941
Junio         2911
Julio         2879
Marzo         2671
Febrero       2586
Enero         2074
dtype: int64

In [24]:
accidentes.mes.value_counts()

Noviembre     3316
Octubre       3274
Septiembre    3136
Mayo          3130
Agosto        3062
Abril         2951
Diciembre     2941
Junio         2911
Julio         2879
Marzo         2671
Febrero       2586
Enero         2074
Name: mes, dtype: int64

In [28]:
accidentes.groupby('mes')[['TotalMuertos','TotalHeridos']].sum()

            TotalMuertos  TotalHeridos
mes
Enero                 50          1016
Febrero               38          1121
Marzo                 53          1149
Abril                 45          1211
Mayo                  52          1259
Junio                 57          1237
Julio                 47          1189
Agosto                55          1276
Septiembre            48          1312
Octubre               50          1396
Noviembre             37          1221
Diciembre             43          1050

8. ¿Cuántos accidentes hubo por día de la semana? ¿Cuántos muertos y heridos?

In [37]:
accidentes.groupby('dia')[['TotalMuertos','TotalHeridos']].mean()

           TotalMuertos  TotalHeridos
dia
Lunes          0.014760      0.425789
Martes         0.013608      0.408606
Miércoles      0.017963      0.394229
Jueves         0.017081      0.417314
Viernes        0.014508      0.391546
Sábado         0.015569      0.397760
Domingo        0.024852      0.486391

In [44]:
accidentes.groupby('dia').agg(
    Muertos = ('TotalMuertos',sum), 
    PromedioMuertos = ('TotalMuertos', np.mean), 
    Accidentes = ('TotalMuertos', np.size),
    Sd_Heridos = ('TotalHeridos', np.std))

           Muertos  PromedioMuertos  Accidentes  Sd_Heridos
dia
Lunes           72         0.014760        4878    1.227683
Martes          74         0.013608        5438    0.897555
Miércoles       94         0.017963        5233    0.701367
Jueves          88         0.017081        5152    0.847161
Viernes         81         0.014508        5583    0.710529
Sábado          82         0.015569        5267    0.740261
Domingo         84         0.024852        3380    0.929344

9. ¿Cuántos accidentes hubo por día de la semana proporcionalmente? ¿Cuántos muertos y heridos?

In [38]:
accidentes.dia.value_counts(normalize=True)

Viernes      0.159829
Martes       0.155678
Sábado       0.150783
Miércoles    0.149810
Jueves       0.147491
Lunes        0.139647
Domingo      0.096762
Name: dia, dtype: float64

In [41]:
accidentes.groupby('dia')[['TotalMuertos','TotalHeridos']].sum()/(accidentes.groupby('dia')[['TotalMuertos','TotalHeridos']].sum()).sum()

           TotalMuertos  TotalHeridos
dia
Lunes          0.125217      0.143866
Martes         0.128696      0.153910
Miércoles      0.163478      0.142897
Jueves         0.153043      0.148923
Viernes        0.140870      0.151416
Sábado         0.142609      0.145113
Domingo        0.146087      0.113874

10. Usando `groupby`, encuentre el cuantos accidentes hubo por día de la semana en cada mes

In [45]:
accidentes.groupby(['dia','mes']).size()

dia      mes
Lunes    Enero         267
         Febrero       449
         Marzo         327
         Abril         410
         Mayo          476
                      ...
Domingo  Agosto        240
         Septiembre    301
         Octubre       354
         Noviembre     299
         Diciembre     257
Length: 84, dtype: int64

In [47]:
accidentes_dia_mes = accidentes.groupby(['dia','mes'])[['TotalMuertos','TotalHeridos']].sum()
accidentes_dia_mes

                    TotalMuertos  TotalHeridos
dia     mes
Lunes   Enero                  2           150
        Febrero                7           185
        Marzo                  5           143
        Abril                  9           216
        Mayo                   4           206
...                          ...           ...
Domingo Agosto                 5           130
        Septiembre            13           130
        Octubre                8           166
        Noviembre              4           141
        Diciembre              6           113

[84 rows x 2 columns]

In [48]:
accidentes_dia_mes.index

MultiIndex([(    'Lunes',      'Enero'),
            (    'Lunes',    'Febrero'),
            (    'Lunes',      'Marzo'),
            (    'Lunes',      'Abril'),
            (    'Lunes',       'Mayo'),
            (    'Lunes',      'Junio'),
            (    'Lunes',      'Julio'),
            (    'Lunes',     'Agosto'),
            (    'Lunes', 'Septiembre'),
            (    'Lunes',    'Octubre'),
            (    'Lunes',  'Noviembre'),
            (    'Lunes',  'Diciembre'),
            (   'Martes',      'Enero'),
            (   'Martes',    'Febrero'),
            (   'Martes',      'Marzo'),
            (   'Martes',      'Abril'),
            (   'Martes',       'Mayo'),
            (   'Martes',      'Junio'),
            (   'Martes',      'Julio'),
            (   'Martes',     'Agosto'),
            (   'Martes', 'Septiembre'),
            (   'Martes',    'Octubre'),
            (   'Martes',  'Noviembre'),
            (   'Martes',  'Diciembre'),
            ('Miércoles',      'Enero'),
            ('Miércoles',    'Febrero'),
            ('Miércoles',      'Marzo'),
            ('Miércoles',      'Abril'),
            ('Miércoles',       'Mayo'),
            ('Miércoles',      'Junio'),
            ('Miércoles',      'Julio'),
            ('Miércoles',     'Agosto'),
            ('Miércoles', 'Septiembre'),
            ('Miércoles',    'Octubre'),
            ('Miércoles',  'Noviembre'),
            ('Miércoles',  'Diciembre'),
            (   'Jueves',      'Enero'),
            (   'Jueves',    'Febrero'),
            (   'Jueves',      'Marzo'),
            (   'Jueves',      'Abril'),
            (   'Jueves',       'Mayo'),
            (   'Jueves',      'Junio'),
            (   'Jueves',      'Julio'),
            (   'Jueves',     'Agosto'),
            (   'Jueves', 'Septiembre'),
            (   'Jueves',    'Octubre'),
            (   'Jueves',  'Noviembre'),
            (   'Jueves',  'Diciembre'),
            (  'Viernes',      'Enero'),
            (  'Viernes',    'Febrero'),
            (  'Viernes',      'Marzo'),
            (  'Viernes',      'Abril'),
            (  'Viernes',       'Mayo'),
            (  'Viernes',      'Junio'),
            (  'Viernes',      'Julio'),
            (  'Viernes',     'Agosto'),
            (  'Viernes', 'Septiembre'),
            (  'Viernes',    'Octubre'),
            (  'Viernes',  'Noviembre'),
            (  'Viernes',  'Diciembre'),
            (   'Sábado',      'Enero'),
            (   'Sábado',    'Febrero'),
            (   'Sábado',      'Marzo'),
            (   'Sábado',      'Abril'),
            (   'Sábado',       'Mayo'),
            (   'Sábado',      'Junio'),
            (   'Sábado',      'Julio'),
            (   'Sábado',     'Agosto'),
            (   'Sábado', 'Septiembre'),
            (   'Sábado',    'Octubre'),
            (   'Sábado',  'Noviembre'),
            (   'Sábado',  'Diciembre'),
            (  'Domingo',      'Enero'),
            (  'Domingo',    'Febrero'),
            (  'Domingo',      'Marzo'),
            (  'Domingo',      'Abril'),
            (  'Domingo',       'Mayo'),
            (  'Domingo',      'Junio'),
            (  'Domingo',      'Julio'),
            (  'Domingo',     'Agosto'),
            (  'Domingo', 'Septiembre'),
            (  'Domingo',    'Octubre'),
            (  'Domingo',  'Noviembre'),
            (  'Domingo',  'Diciembre')],
           names=['dia', 'mes'])

In [49]:
accidentes_dia_mes.loc[('Lunes','Enero')]

TotalMuertos      2
TotalHeridos    150
Name: (Lunes, Enero), dtype: int64

In [51]:
accidentes_diciembre = accidentes.loc[accidentes.mes =='Diciembre']
accidentes_diciembre.groupby(['dia','mes']).size()

dia      mes
Lunes    Enero           0
         Febrero         0
         Marzo           0
         Abril           0
         Mayo            0
                      ...
Domingo  Agosto          0
         Septiembre      0
         Octubre         0
         Noviembre       0
         Diciembre     257
Length: 84, dtype: int64

11. Sin usar Groupby, encuentre el cuantos accidentes hubo por día de la semana en cada mes

In [67]:
pd.crosstab(index=accidentes.dia, columns=accidentes.mes)

mes,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
dia,,,,,,,,,,,,
Lunes,267,449,327,410,476,359,361,504,428,500,396,401
Martes,316,375,461,406,555,422,431,569,422,441,645,395
Miércoles,300,397,469,382,425,515,378,501,423,473,529,441
Jueves,266,348,414,411,451,497,386,408,554,479,467,471
Viernes,361,378,387,574,445,424,520,431,600,457,528,478
Sábado,330,394,372,493,448,413,480,409,408,570,452,498
Domingo,234,245,241,275,330,281,323,240,301,354,299,257

12. Construya las columnas que representen la dummy de día de la semana

In [60]:
accidentes_dummies = pd.get_dummies(accidentes,columns=['dia','mes'], drop_first=False)
accidentes_dummies.head()

,Fecha,GravedadNombre,ClaseNombre,ChoqueNombre,ObjetoFijoCodigo,ObjetoFijoNombre,OtraClase,NombreOtraClase,Latitud,Longitud,Direccion,TipoVia1,NumeroVia1,LetraVia1,CardinalVia1,TipoVia2,NumeroVia2,LetraVia2,CardinalVia2,Localidad,HoraOcurrencia,TipoDiseño,TipoTiempo,TotalMuertos,TotalHeridos,dia_Lunes,dia_Martes,dia_Miércoles,dia_Jueves,dia_Viernes,dia_Sábado,dia_Domingo,mes_Enero,mes_Febrero,mes_Marzo,mes_Abril,mes_Mayo,mes_Junio,mes_Julio,mes_Agosto,mes_Septiembre,mes_Octubre,mes_Noviembre,mes_Diciembre
0,2016-01-13,Con Heridos,Choque,Vehiculo,,,,,0.0,0.0,KR 101-CL 83 02,KR,101,,,CL,83.0,,,ENGATIVA,12/31/1899 10:30:00 PM,Interseccion,Normal,0,2,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,2016-01-12,Con Heridos,Atropello,,,,,,0.0,0.0,CL 147-KR 7 02,CL,147,,,KR,7.0,,,USAQUEN,12/31/1899 03:40:00 PM,Interseccion,Normal,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,2016-01-13,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,CL 19-KR 5 SE 02,CL,19,,S,KR,5.0,,E,SAN CRISTOBAL,12/31/1899 07:20:00 AM,Tramo de Via,Normal,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,2016-01-17,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,AC 80-KR 107 02,AC,80,,,KR,107.0,,,ENGATIVA,12/31/1899 06:10:00 AM,Tramo de Via,Normal,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0
4,2016-01-18,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,TR 14-CL 48 S 05,TR,14,,,CL,48.0,,S,RAFAEL URIBE URIBE,12/31/1899 05:00:00 PM,Tramo de Via,Normal,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

13. Construya una nueva base que tenga los meses en las columnas, los días en las filas y en cada entrada de la base el Total de heridos

In [64]:
pd.pivot_table(data=accidentes,
               values='TotalHeridos',
               index='dia',
               columns='mes',
               aggfunc=sum)

mes,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
dia,,,,,,,,,,,,
Lunes,150,185,143,216,206,139,160,189,174,222,148,145
Martes,130,156,186,152,223,173,174,251,186,210,233,148
Miércoles,147,150,180,151,173,244,124,191,175,198,191,139
Jueves,125,171,215,181,148,185,167,151,238,212,188,169
Viernes,173,167,158,206,166,190,211,191,235,157,176,156
Sábado,162,162,124,186,190,170,199,173,174,231,144,180
Domingo,129,130,143,119,153,136,154,130,130,166,141,113

14. Construya una nueva base que tenga los meses en las columnas, los días en las filas y entradas que tengan el Total de heridos y muertos, su media y desviación estándar.

In [77]:
pd.pivot_table(data=accidentes,
               values=['TotalHeridos','TotalMuertos'],
               index=['dia','Localidad'],
               columns='mes',
               aggfunc=[sum, np.mean, np.std])

                                sum                                        \
                       TotalHeridos
mes                           Enero Febrero Marzo Abril  Mayo Junio Julio
dia     Localidad
Lunes   ANTONIO NARIÑO          2.0     4.0   4.0   5.0   5.0   6.0   2.0
        BARRIOS UNIDOS          6.0     9.0   4.0   8.0   8.0   4.0   8.0
        BOSA                    6.0     6.0  13.0   8.0  16.0  12.0  11.0
        CANDELARIA              1.0     2.0   0.0   NaN   NaN   1.0   0.0
        CHAPINERO              18.0     5.0   5.0   8.0   4.0   5.0   1.0
...                             ...     ...   ...   ...   ...   ...   ...
Domingo SUBA                   14.0    19.0  17.0  10.0  20.0  11.0  12.0
        TEUSAQUILLO             5.0     6.0   5.0   6.0   4.0   1.0   7.0
        TUNJUELITO              6.0     8.0   8.0   4.0   8.0   2.0   2.0
        USAQUEN                 8.0     3.0  10.0   5.0   5.0   9.0  16.0
        USME                    1.0     7.0   8.0   6.0   4.0   3.0   5.0

                                                                      \

mes                    Agosto Septiembre Octubre Noviembre Diciembre
dia     Localidad
Lunes   ANTONIO NARIÑO   10.0        2.0     4.0       4.0       0.0
        BARRIOS UNIDOS    9.0        3.0     6.0       9.0       4.0
        BOSA              9.0        7.0    16.0       5.0       3.0
        CANDELARIA        2.0        NaN     1.0       0.0       0.0
        CHAPINERO         7.0       10.0     5.0       3.0      17.0
...                       ...        ...     ...       ...       ...
Domingo SUBA             11.0       16.0    12.0       4.0      12.0
        TEUSAQUILLO       7.0        7.0    10.0       8.0       1.0
        TUNJUELITO        5.0        6.0    18.0       7.0       3.0
        USAQUEN          10.0        7.0     8.0      11.0       4.0
        USME              5.0        7.0    17.0       2.0       4.0

                                                                          \
                       TotalMuertos
mes                           Enero Febrero Marzo Abril Mayo Junio Julio
dia     Localidad
Lunes   ANTONIO NARIÑO          0.0     0.0   0.0   0.0  0.0   0.0   0.0
        BARRIOS UNIDOS          0.0     0.0   0.0   0.0  1.0   0.0   0.0
        BOSA                    1.0     1.0   1.0   0.0  0.0   0.0   0.0
        CANDELARIA              0.0     0.0   0.0   NaN  NaN   0.0   0.0
        CHAPINERO               0.0     0.0   1.0   0.0  0.0   1.0   0.0
...                             ...     ...   ...   ...  ...   ...   ...
Domingo SUBA                    1.0     1.0   0.0   1.0  3.0   0.0   1.0
        TEUSAQUILLO             0.0     0.0   1.0   0.0  0.0   1.0   1.0
        TUNJUELITO              1.0     0.0   1.0   0.0  0.0   0.0   1.0
        USAQUEN                 1.0     0.0   1.0   0.0  0.0   0.0   0.0
        USME                    0.0     0.0   1.0   0.0  0.0   0.0   1.0

                                                                      \

mes                    Agosto Septiembre Octubre Noviembre Diciembre
dia     Localidad
Lunes   ANTONIO NARIÑO    1.0        0.0     0.0       0.0       1.0
        BARRIOS UNIDOS    2.0        0.0     0.0       0.0       0.0
        BOSA              0.0        0.0     0.0       1.0       0.0
        CANDELARIA        0.0        NaN     0.0       0.0       0.0
        CHAPINERO         0.0        0.0     0.0       0.0       1.0
...                       ...        ...     ...       ...       ...
Domingo SUBA              1.0        0.0     3.0       0.0       0.0
        TEUSAQUILLO       0.0        0.0     0.0       0.0       0.0
        TUNJUELITO        0.0        2.0     0.0       1.0       0.0
        USAQUEN           0.0        1.0     0.0       0.0       0.0
        USME              0.0        0.0     0.0       1.0       0.0

                           promedio                                          \
                       TotalHeridos
mes                           Enero   Febrero     Marzo     Abril      Mayo
dia     Localidad
Lunes   ANTONIO NARIÑO     0.500000  0.363636  0.444444  0.714286  0.357143
        BARRIOS UNIDOS     0.352941  0.375000  0.190476  0.500000  0.363636
        BOSA               0.428571  0.428571  0.812500  0.500000  0.727273
        CANDELARIA         1.000000  0.400000  0.000000       NaN       NaN
        CHAPINERO          1.285714  0.147059  0.238095  0.205128  0.121212
...                             ...       ...       ...       ...       ...
Domingo SUBA               0.538462  0.500000  0.566667  0.400000  0.487805
        TEUSAQUILLO        0.555556  0.461538  0.357143  0.375000  0.500000
        TUNJUELITO         0.857143  0.727273  0.800000  0.400000  0.800000
        USAQUEN            0.533333  0.187500  0.370370  0.178571  0.138889
        USME               0.166667  0.700000  1.333333  1.200000  0.666667

                                                                           \

mes                        Junio     Julio    Agosto Septiembre   Octubre
dia     Localidad
Lunes   ANTONIO NARIÑO  0.600000  0.250000  0.833333   0.666667  0.444444
        BARRIOS UNIDOS  0.333333  0.400000  0.257143   0.166667  0.162162
        BOSA            0.857143  0.647059  0.321429   0.411765  0.640000
        CANDELARIA      0.500000  0.000000  0.666667        NaN  1.000000
        CHAPINERO       0.217391  0.052632  0.218750   0.285714  0.151515
...                          ...       ...       ...        ...       ...
Domingo SUBA            0.314286  0.461538  0.440000   0.457143  0.315789
        TEUSAQUILLO     0.083333  0.583333  0.583333   0.583333  0.714286
        TUNJUELITO      0.222222  0.181818  1.000000   0.600000  1.058824
        USAQUEN         0.310345  0.533333  0.370370   0.304348  0.228571
        USME            0.428571  0.500000  0.833333   0.636364  1.307692

                                                                             \
                                           TotalMuertos
mes                    Noviembre Diciembre        Enero   Febrero     Marzo
dia     Localidad
Lunes   ANTONIO NARIÑO  0.444444  0.000000     0.000000  0.000000  0.000000
        BARRIOS UNIDOS  0.409091  0.190476     0.000000  0.000000  0.000000
        BOSA            0.312500  0.230769     0.071429  0.071429  0.062500
        CANDELARIA      0.000000  0.000000     0.000000  0.000000  0.000000
        CHAPINERO       0.157895  0.607143     0.000000  0.000000  0.047619
...                          ...       ...          ...       ...       ...
Domingo SUBA            0.160000  0.600000     0.038462  0.026316  0.000000
        TEUSAQUILLO     0.800000  0.142857     0.000000  0.000000  0.071429
        TUNJUELITO      0.875000  0.428571     0.142857  0.000000  0.100000
        USAQUEN         0.343750  0.166667     0.066667  0.000000  0.037037
        USME            0.250000  0.444444     0.000000  0.000000  0.166667

                                                                      \

mes                    Abril      Mayo     Junio     Julio    Agosto
dia     Localidad
Lunes   ANTONIO NARIÑO  0.00  0.000000  0.000000  0.000000  0.083333
        BARRIOS UNIDOS  0.00  0.045455  0.000000  0.000000  0.057143
        BOSA            0.00  0.000000  0.000000  0.000000  0.000000
        CANDELARIA       NaN       NaN  0.000000  0.000000  0.000000
        CHAPINERO       0.00  0.000000  0.043478  0.000000  0.000000
...                      ...       ...       ...       ...       ...
Domingo SUBA            0.04  0.073171  0.000000  0.038462  0.040000
        TEUSAQUILLO     0.00  0.000000  0.083333  0.083333  0.000000
        TUNJUELITO      0.00  0.000000  0.000000  0.090909  0.000000
        USAQUEN         0.00  0.000000  0.000000  0.000000  0.000000
        USME            0.00  0.000000  0.000000  0.100000  0.000000

                                                                         std  \
                                                                TotalHeridos
mes                    Septiembre   Octubre Noviembre Diciembre        Enero
dia     Localidad
Lunes   ANTONIO NARIÑO   0.000000  0.000000    0.0000  0.125000     0.577350
        BARRIOS UNIDOS   0.000000  0.000000    0.0000  0.000000     0.606339
        BOSA             0.000000  0.000000    0.0625  0.000000     0.513553
        CANDELARIA            NaN  0.000000    0.0000  0.000000          NaN
        CHAPINERO        0.000000  0.000000    0.0000  0.035714     3.688414
...                           ...       ...       ...       ...          ...
Domingo SUBA             0.000000  0.078947    0.0000  0.000000     0.760567
        TEUSAQUILLO      0.000000  0.000000    0.0000  0.000000     0.726483
        TUNJUELITO       0.200000  0.000000    0.1250  0.000000     1.864454
        USAQUEN          0.043478  0.000000    0.0000  0.000000     0.833809
        USME             0.000000  0.000000    0.1250  0.000000     0.408248

                                                                          \

mes                      Febrero     Marzo     Abril      Mayo     Junio
dia     Localidad
Lunes   ANTONIO NARIÑO  0.674200  0.527046  0.755929  0.497245  0.699206
        BARRIOS UNIDOS  0.769670  0.511766  1.154701  0.581087  0.651339
        BOSA            0.646206  0.750000  0.632456  0.935125  0.770329
        CANDELARIA      0.547723       NaN       NaN       NaN  0.707107
        CHAPINERO       0.435706  0.538958  0.522115  0.331434  0.671262
...                          ...       ...       ...       ...       ...
Domingo SUBA            0.862116  0.897634  0.707107  1.206689  0.582663
        TEUSAQUILLO     0.660225  0.633324  0.718795  0.755929  0.288675
        TUNJUELITO      0.646670  0.788811  0.516398  0.788811  0.440959
        USAQUEN         0.403113  0.687702  0.390021  0.350736  0.660273
        USME            0.823273  1.032796  1.095445  0.816497  0.534522

                                                                           \

mes                        Julio    Agosto Septiembre   Octubre Noviembre
dia     Localidad
Lunes   ANTONIO NARIÑO  0.462910  1.029857   1.154701  0.726483  0.726483
        BARRIOS UNIDOS  0.753937  0.741337   0.383482  0.373684  0.959121
        BOSA            0.785905  0.547964   0.618347  0.757188  0.602080
        CANDELARIA           NaN  0.577350        NaN       NaN  0.000000
        CHAPINERO       0.229416  0.490844   0.667367  0.441674  0.374634
...                          ...       ...        ...       ...       ...
Domingo SUBA            0.646886  1.003328   0.700540  0.525319  0.472582
        TEUSAQUILLO     0.900337  0.668558   0.792961  0.994490  2.201010
        TUNJUELITO      0.603023  1.000000   0.516398  2.164214  0.834523
        USAQUEN         1.479360  0.741524   0.558796  0.770245  0.787375
        USME            0.707107  0.752773   0.674200  2.689009  0.462910

                                                                         \
                                 TotalMuertos
mes                    Diciembre        Enero   Febrero     Marzo Abril
dia     Localidad
Lunes   ANTONIO NARIÑO  0.000000     0.000000  0.000000  0.000000   0.0
        BARRIOS UNIDOS  0.402374     0.000000  0.000000  0.000000   0.0
        BOSA            0.438529     0.267261  0.267261  0.250000   0.0
        CANDELARIA           NaN          NaN  0.000000       NaN   NaN
        CHAPINERO       1.728611     0.000000  0.000000  0.218218   0.0
...                          ...          ...       ...       ...   ...
Domingo SUBA            0.820783     0.196116  0.162221  0.000000   0.2
        TEUSAQUILLO     0.377964     0.000000  0.000000  0.267261   0.0
        TUNJUELITO      0.786796     0.377964  0.000000  0.316228   0.0
        USAQUEN         0.481543     0.258199  0.000000  0.192450   0.0
        USME            0.726483     0.000000  0.000000  0.408248   0.0

                                                                           \

mes                         Mayo     Junio     Julio    Agosto Septiembre
dia     Localidad
Lunes   ANTONIO NARIÑO  0.000000  0.000000  0.000000  0.288675   0.000000
        BARRIOS UNIDOS  0.213201  0.000000  0.000000  0.338062   0.000000
        BOSA            0.000000  0.000000  0.000000  0.000000   0.000000
        CANDELARIA           NaN  0.000000       NaN  0.000000        NaN
        CHAPINERO       0.000000  0.208514  0.000000  0.000000   0.000000
...                          ...       ...       ...       ...        ...
Domingo SUBA            0.345705  0.000000  0.196116  0.200000   0.000000
        TEUSAQUILLO     0.000000  0.288675  0.288675  0.000000   0.000000
        TUNJUELITO      0.000000  0.000000  0.301511  0.000000   0.421637
        USAQUEN         0.000000  0.000000  0.000000  0.000000   0.208514
        USME            0.000000  0.000000  0.316228  0.000000   0.000000



mes                      Octubre Noviembre Diciembre
dia     Localidad
Lunes   ANTONIO NARIÑO  0.000000  0.000000  0.353553
        BARRIOS UNIDOS  0.000000  0.000000  0.000000
        BOSA            0.000000  0.250000  0.000000
        CANDELARIA           NaN  0.000000       NaN
        CHAPINERO       0.000000  0.000000  0.188982
...                          ...       ...       ...
Domingo SUBA            0.273276  0.000000  0.000000
        TEUSAQUILLO     0.000000  0.000000  0.000000
        TUNJUELITO      0.000000  0.353553  0.000000
        USAQUEN         0.000000  0.000000  0.000000
        USME            0.000000  0.353553  0.000000

[133 rows x 72 columns]

15. Construya en la base accidentes la columna que indique si es fin de semana o no.

In [80]:
accidentes['fds']=accidentes.dia.isin(['Sábado','Domingo'])

In [83]:
accidentes.fds.apply(lambda x: 'sí' if x else 'no')

0        no
1        no
2        no
3        sí
4        no
         ..
34926    no
34927    no
34928    no
34929    sí
34930    no
Name: fds, Length: 34931, dtype: object

16. Muestre el número de accidentes por si fue en fin de semana, tipo de tiempo y Gravedad del accidente

In [84]:
accidentes.head()

,Fecha,GravedadNombre,ClaseNombre,ChoqueNombre,ObjetoFijoCodigo,ObjetoFijoNombre,OtraClase,NombreOtraClase,Latitud,Longitud,Direccion,TipoVia1,NumeroVia1,LetraVia1,CardinalVia1,TipoVia2,NumeroVia2,LetraVia2,CardinalVia2,Localidad,HoraOcurrencia,TipoDiseño,TipoTiempo,TotalMuertos,TotalHeridos,mes,dia,fds
0,2016-01-13,Con Heridos,Choque,Vehiculo,,,,,0.0,0.0,KR 101-CL 83 02,KR,101,,,CL,83.0,,,ENGATIVA,12/31/1899 10:30:00 PM,Interseccion,Normal,0,2,Enero,Miércoles,False
1,2016-01-12,Con Heridos,Atropello,,,,,,0.0,0.0,CL 147-KR 7 02,CL,147,,,KR,7.0,,,USAQUEN,12/31/1899 03:40:00 PM,Interseccion,Normal,0,1,Enero,Martes,False
2,2016-01-13,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,CL 19-KR 5 SE 02,CL,19,,S,KR,5.0,,E,SAN CRISTOBAL,12/31/1899 07:20:00 AM,Tramo de Via,Normal,0,0,Enero,Miércoles,False
3,2016-01-17,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,AC 80-KR 107 02,AC,80,,,KR,107.0,,,ENGATIVA,12/31/1899 06:10:00 AM,Tramo de Via,Normal,0,0,Enero,Domingo,True
4,2016-01-18,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,TR 14-CL 48 S 05,TR,14,,,CL,48.0,,S,RAFAEL URIBE URIBE,12/31/1899 05:00:00 PM,Tramo de Via,Normal,0,0,Enero,Lunes,False

In [85]:
accidentes.groupby(['fds','TipoTiempo', 'GravedadNombre']).size()

fds    TipoTiempo     GravedadNombre
False                 Con Heridos           3
                      Solo Daños            6
       Lluvia         Con Heridos         212
                      Con Muertos          11
                      Solo Daños          734
       Lluvia/Lluvia  Con Heridos           2
       Lluvia/Normal  Con Heridos           1
                      Solo Daños            4
       Niebla         Con Heridos           8
                      Solo Daños           20
       Normal         Con Heridos        7644
                      Con Muertos         384
                      Solo Daños        17209
       Normal/Lluvia  Solo Daños            2
       Normal/Normal  Con Heridos           4
                      Solo Daños            3
       Viento         Con Heridos          14
                      Solo Daños           22
       Viento/Normal  Solo Daños            1
True                  Solo Daños            1
       Lluvia         Con Heridos          64
                      Con Muertos           1
                      Solo Daños          192
       Lluvia/Normal  Solo Daños            2
       Niebla         Con Heridos           4
                      Solo Daños            3
       Normal         Con Heridos        2598
                      Con Muertos         159
                      Solo Daños         5613
       Normal/Normal  Con Heridos           2
                      Solo Daños            1
       Viento         Con Heridos           2
                      Solo Daños            5
dtype: int64

17. Ordene la base por mes, día de la semana, número de heridos y número de muertos

In [86]:
accidentes.sort_values(['mes','dia','TotalHeridos','TotalMuertos'])

,Fecha,GravedadNombre,ClaseNombre,ChoqueNombre,ObjetoFijoCodigo,ObjetoFijoNombre,OtraClase,NombreOtraClase,Latitud,Longitud,Direccion,TipoVia1,NumeroVia1,LetraVia1,CardinalVia1,TipoVia2,NumeroVia2,LetraVia2,CardinalVia2,Localidad,HoraOcurrencia,TipoDiseño,TipoTiempo,TotalMuertos,TotalHeridos,mes,dia,fds
4,2016-01-18,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,TR 14-CL 48 S 05,TR,14,,,CL,48.0,,S,RAFAEL URIBE URIBE,12/31/1899 05:00:00 PM,Tramo de Via,Normal,0,0,Enero,Lunes,False
5,2016-01-18,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,TR 77-CL 84A 02,TR,77,,,CL,84.0,A,,ENGATIVA,12/31/1899 02:35:00 PM,Tramo de Via,Normal,0,0,Enero,Lunes,False
6,2016-01-18,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,KR 78B-CL 72 02,KR,78,B,,CL,72.0,,,ENGATIVA,12/31/1899 07:00:00 PM,Tramo de Via,Normal,0,0,Enero,Lunes,False
130,2016-01-04,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,KR 82-CL 22 02,KR,82,,,CL,22.0,,,FONTIBON,12/31/1899 07:20:00 PM,Tramo de Via,Normal,0,0,Enero,Lunes,False
147,2016-01-18,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,AK 30-CL 6 02,AK,30,,,CL,6.0,,,PUENTE ARANDA,12/31/1899 07:50:00 PM,Tramo de Via,Normal,0,0,Enero,Lunes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26185,2016-12-25,Con Heridos,Atropello,,,,,,0.0,0.0,KR 3B-CL 36I S 02,KR,3,B,,CL,36.0,I,S,SAN CRISTOBAL,12/31/1899 08:40:00 PM,Tramo de Via,Normal,0,3,Diciembre,Domingo,True
32494,2016-12-11,Con Heridos,Choque,Vehiculo,,,,,0.0,0.0,CL 11-KR 27 S 02,CL,11,,S,KR,27.0,,,SAN CRISTOBAL,12/31/1899 10:40:00 AM,Interseccion,Normal,0,3,Diciembre,Domingo,True
34818,2016-12-25,Con Heridos,Atropello,,,,,,0.0,0.0,KR 30-CL 30 S 09,KR,30,,,CL,30.0,,S,PUENTE ARANDA,12/31/1899 03:10:00 PM,Tramo de Via,Normal,0,3,Diciembre,Domingo,True
13218,2016-12-18,Con Heridos,Choque,Vehiculo,,,,,0.0,0.0,AV AVENIDA CIUDAD DE VILLAVICENCIO-CL 59 S 02,AV,AVENIDA CIUDAD DE VILLAVICENCIO,,,CL,59.0,,S,CIUDAD BOLIVAR,12/31/1899 10:30:00 AM,Tramo de Via,Normal,0,4,Diciembre,Domingo,True
4121,2016-12-04,Con Heridos,Choque,Vehiculo,,,,,0.0,0.0,KR 100-CL 23G 02,KR,100,,,CL,23.0,G,,FONTIBON,12/31/1899 01:00:00 PM,Tramo de Via,Normal,0,7,Diciembre,Domingo,True

# Clase 9.2: Más exploración y Visualización de datos

**El día de hoy trabajaremos con las bases de datos de E-commerce de ventas de [Olist](https://olist.com/) en Brasil. Acceda esta base de datos se encuentra en [Kaggle](https://www.kaggle.com/olistbr/brazilian-ecommerce).**

### Manipulación
1. Importe la base de datos olist_customers_dataset.csv para obtener los directorios de clientes.
2. Importe la base de datos olist_geolocation_dataset.csv para obtener la información espacial de [Brasil](https://es.wikipedia.org/wiki/Geograf%C3%ADa_de_Brasil#/media/Archivo:Brasil_administrative_map_ES.png).
3. Importe la base de datos olist_order_payments_dataset.csv para obtener información sobre los pagos.
4. Importe la base de datos olist_order_items_dataset.csv para obtener la información de los productos vendidos.
5. Importe la base de datos olist_products_dataset.csv para obtener información de los productos.
6. Importe la base de datos olist_sellers_dataset.csv para obtener la información de los vendedores.
7. Importe la base de datos olist_orders_dataset.csv para obtener información de las entregas.
8. Importe la base de datos product_category_name_translation.csv para traducir a inglés los tipos de productos

Explore que variables y que tamaño tienen las bases anteriores. Use los métodos ___unique()___, ___nunique()___ e ___isin()___ para explorar las bases y su relación con otras.

In [56]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [57]:
clientes=pd.read_csv('brazilian-ecommerce/olist_customers_dataset.csv')
print(clientes.shape)
clientes.head()

(99441, 5)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [58]:
geo_brasil=pd.read_csv('brazilian-ecommerce/olist_geolocation_dataset.csv')
print(geo_brasil.shape)
geo_brasil.head()

(1000163, 5)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [59]:
pagos=pd.read_csv('brazilian-ecommerce/olist_order_payments_dataset.csv' )
print(pagos.shape)
pagos.head()

(103886, 5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [60]:
ventas=pd.read_csv('brazilian-ecommerce/olist_order_items_dataset.csv' )
print(ventas.shape)
ventas.head()

(112650, 7)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [61]:
productos=pd.read_csv('brazilian-ecommerce/olist_products_dataset.csv' )
print(productos.shape)
productos.head()

(32951, 9)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [62]:
vendedores=pd.read_csv('brazilian-ecommerce/olist_sellers_dataset.csv' )
print(vendedores.shape)
vendedores.head()

(3095, 4)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [63]:
entregas=pd.read_csv('brazilian-ecommerce/olist_orders_dataset.csv' )
print(entregas.shape)
entregas.head()

(99441, 8)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [64]:
traduccion=pd.read_csv('brazilian-ecommerce/product_category_name_translation.csv')
print(traduccion.shape)
traduccion.head()

(71, 2)

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

## Estadísticas Descriptivas
1. ¿Qué producto fue el más vendido? ¿Qué tipo de producto es?

2. Pegue a la tabla de productos la traducción

3. ¿Cuánto se gastó en promedio por compra?

4. ¿Cómo se distribuyo el tipo de pago? [(PIE)](https://matplotlib.org/3.1.0/api/_as_gen/matplotlib.pyplot.pie.html)

5. ¿Cuánto se gastó en promedio por tipo de producto? [(Barras)](https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.bar.html)

6. ¿Cómo se distribuye el volumen de ventas por tipo de producto?